#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export BUILD_NAME=seq192

%:
	dh $@

# Overriding dh_test to disable tests
override_dh_auto_test:
override_dh_usrlocal:
