[Desktop Entry]
Name=seq192
Comment=Live MIDI sequencer
Icon=seq192
Exec=seq192
TryExec=seq192
Terminal=false
Type=Application
Categories=Audio;Sequencer;AudioVideo;
X-NSM-Capable=true
